body,
input,
button {
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 40px 24px 0;
}

.logo {
	width: 132px;
}

.container-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	margin-top: 28px;
	width: 100%;
}

.wrap-input-form {
	display: flex;
	flex-direction: column;
}

.input {
	background-color: #efefef;
	border-radius: 8px;
	outline: none;
	border: none;
	padding: 12px;
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.2px;
	color: #110d0d;
}

.input-password {
	margin-top: 20px;
	margin-bottom: 36px;
}

.input::placeholder {
	color: rgb(158, 158, 158);
}

.wrap-btn {
	display: flex;
	justify-content: center;
	gap: 28px;
}

.btn {
	background-color: #efefef;
	border-radius: 8px;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 0.2px;
	color: #110d0d;
	text-decoration: none;
	padding: 14px 24px;
	text-transform: capitalize;
	width: 100%;
	text-align: center;
}

.btn-login {
	color: #fff;
	background-color: rgb(36, 159, 197);
}

.forget-password {
	color: #333;
	font-weight: 700;
	text-decoration: none;
	font-size: 13px;
	text-transform: capitalize;
	margin-top: 32px;
}

.login-with {
	font-size: 13px;
	margin-top: 36px;
}

.img-login {
	width: 28px;
	filter: grayscale(100%);
}

.need-help {
	text-decoration: none;
	font-weight: 600;
	color: #110d0d;
	font-size: 13px;
	margin-top: 56px;
}
