* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p,
h1,
h2 {
	margin: 0;
}

a {
	text-decoration: none;
}

header {
	background-color: #fff;
	box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
}

.px-primary {
	padding-left: 20px;
	padding-right: 20px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	position: relative;
}

.logo {
	font-size: 32px;
	color: #10069f;
	font-weight: 600;
}

.links {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 68px;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 10;
}

.links.active-menu {
	display: flex;
}

.link {
	color: rgba(0, 0, 0, 0.7);
	transition: 150ms ease-in;
	letter-spacing: 0.4px;
	display: block;
	padding: 10px 20px;
}

.link.active,
.link:hover {
	color: #10069f;
}

.link svg path {
	transition: 150ms ease-in;
}

.link:hover svg path:last-child,
.link.active svg path:last-child {
	fill: #10069f;
}

.link:hover {
	background-color: rgba(211, 211, 211, 0.7);
}

.link.link--dropdown {
	display: flex;
	align-items: center;
}

.dropdown {
	position: relative;
}

.sub-dropdown {
	display: none;
}

.sub-dropdown.active-dropdown {
	display: block;
}

.sub-dropdown .link {
	padding: 10px 40px;
}

.sub-dropdown .link:hover {
	background-color: rgba(211, 211, 211, 0.7);
}

.hero {
	padding: 0 20px;
}

.content-bg {
	aspect-ratio: 16/9;
	width: 100%;
	object-fit: cover;
}

#menu {
	line-height: 0;
	cursor: pointer;
}

main {
	margin-top: 48px;
}

.text-hero {
	color: rgb(14, 13, 38);
	margin-bottom: 28px;
}

.title {
	font-weight: 500;
	font-size: 36px;
	margin-bottom: 8px;
}

.bold-blue {
	font-weight: 600;
	color: #10069f;
}

.description {
	margin-bottom: 20px;
	list-style: disc;
	text-align: left;
	padding-left: 40px;
}

.description > *:not(:first-child) {
	margin-top: 8px;
}

.btn-contact-us {
	padding: 10px 20px;
	display: block;
	font-weight: 600;
	background-color: #2c20df;
	border-radius: 4px;
	color: #fff;
	transition: 150ms ease-in;
	width: max-content;
}

.btn-contact-us:hover {
	background-color: #4336fc;
}

.content-second {
	margin-top: 100px;
	color: #0e0d26;
	text-align: center;
}

.subtitle {
	font-weight: 500;
	font-size: 32px;
}

.description-content {
	margin: 24px 24px 0;
	font-size: 18px;
}

footer {
	margin-top: 80px;
	text-align: center;
	padding: 20px;
}

footer a {
	color: #10069f;
}

.photo {
	width: 100%;
	height: 180px;
	border-radius: 20px;
	object-fit: cover;
}

.our-team {
	margin-top: 100px;
	text-align: center;
	color: #0e0d26;
}

.teams {
	margin-top: 32px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
}

.team {
	text-align: left;
}

.name-team {
	font-size: 20px;
	font-weight: 600;
	margin-top: 8px;
}

.description-team {
	margin-top: 8px;
}

@media (min-width: 400px) {
	.team {
		width: 320px;
	}
}

@media (min-width: 768px) {
	header {
		box-shadow: none;
	}

	#menu {
		display: none;
	}

	.links {
		display: flex;
		flex-direction: row;
		gap: 20px;
		position: static;
		background-color: transparent;
		width: auto;
	}

	.link {
		padding: 0;
		display: inline;
	}

	.link:hover {
		background-color: transparent;
	}

	.sub-dropdown {
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
		border-radius: 4px;
		position: absolute;
		right: 0;
		top: 44px;
		width: max-content;
		background-color: #fff;
		z-index: 10;
	}

	.sub-dropdown .link {
		display: block;
		padding: 8px 32px;
	}

	main {
		margin-top: 4px;
	}

	.hero {
		position: relative;
		padding: 0;
		line-height: 0;
	}

	.title {
		font-size: 32px;
	}

	.text-hero {
		margin-bottom: 0;
		text-align: left;
		padding: 10px 20px;
		line-height: normal;
		margin-bottom: 40px;
	}

	.description {
		font-size: 16px;
	}

	.btn-contact-us {
		margin: 0;
	}
}

@media (min-width: 1024px) {
	.hero {
		display: flex;
		gap: 12px;
	}

	.text-hero {
		background: #232526; /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		margin-bottom: 0;
		color: #fff;
	}

	.text-hero,
	.description {
		align-items: flex-start;
	}

	.content-bg {
		aspect-ratio: inherit;
		width: auto;
	}

	.text-hero,
	.content-bg {
		border-radius: 4px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1120px;
		margin-left: auto;
		margin-right: auto;
	}

	.link {
		font-size: 18px;
	}

	.text-hero {
		width: 50%;
	}

	.content-bg {
		width: 100%;
	}
}

@media (min-width: 1366px) {
	.container {
		max-width: 1320px;
	}
}
