/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #f8fafc;
}

.app {
	background-color: white;
	max-width: 414px;
	margin: 0 auto;
	padding-bottom: 64px;
	position: relative;
}

.px-primary {
	padding-left: 20px;
	padding-right: 20px;
}

.header {
	padding-top: 12px;
	padding-bottom: 32px;
	position: relative;
}

.header > * {
	position: relative;
}

.header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #ffb52e;
	border-radius: 0 0 50% 50%;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	max-width: 374px;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px 20px;
	z-index: 10;
	transition: 200ms ease-in-out;
}

.navigation.scroll {
	background-color: white;
	border-bottom: 1px solid #555;
}

.wrapper-logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
	gap: 10px;
}

.navigation.scroll .wrapper-logo {
	color: #293245;
}

.logo-name {
	font-weight: 700;
}

.img-logo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.wrapper-promo {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	color: white;
	font-size: 12px;
	background-color: #ed6160;
	padding: 4px 10px;
	border-radius: 20px;
	transition: 200ms ease-in;
}

.wrapper-promo:hover {
	background-color: #e94848;
}

.title {
	text-align: center;
	color: #293245;
	margin-top: 64px;
	font-weight: 500;
	line-height: 42px;
	margin-bottom: 16px;
}

.description {
	color: #333;
	margin-bottom: 16px;
	line-height: 22px;
	margin-top: 0;
	padding: 0 40px;
}

.btn-register {
	text-decoration: none;
	font-weight: 500;
	color: white;
	text-align: center;
	background: linear-gradient(180deg, #329ae4 0%, #112e95 100%);
	padding: 8px 20px;
	margin: 0 auto;
	display: block;
	width: max-content;
	border-radius: 20px;
}

.main-content {
	margin-top: 48px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 14px;
}

.card {
	border-radius: 6px;
	padding: 16px 14px;
	color: white;
}

.total {
	display: flex;
	align-items: center;
	gap: 6px;
	margin-bottom: 4px;
}

.text-total {
	font-weight: 700;
	font-size: 20px;
}

.text-card {
	font-size: 12px;
}

.orange {
	background-color: #ff8b27;
}

.blue {
	background-color: #4979ea;
}

.green {
	background-color: #33c342;
}

.purple {
	background-color: #9269bb;
}

.red {
	background-color: #ed6160;
}

.category-content {
	margin-top: 40px;
}

.subtitle {
	color: #293245;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 14px;
}

.text-cta {
	color: #333;
	font-size: 14px;
	line-height: 22px;
	margin-top: 0;
}

.bold {
	color: #293245;
}

.categories {
	margin-top: 32px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.category {
	color: white;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 500;
	padding: 12px 16px;
	letter-spacing: 0.6px;
	text-align: center;
	white-space: nowrap;
	width: max-content;
}

.banner {
	margin-top: 40px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.banner-subtitle {
	text-align: center;
	color: white;
	margin-top: 0;
}

.description-banner {
	margin-top: 0;
	color: white;
	line-height: 22px;
	font-size: 14px;
}

.btn-banner {
	border-radius: 6px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	padding: 10px 16px;
	display: block;
	margin-top: 24px;
	transition: 300ms ease-in-out;
	color: white;
}

.btn-banner--bg-white {
	background-color: white;
	color: #9269bb;
}

.btn-banner--bg-white:hover {
	background-color: #329ae4;
	color: white;
}

.btn-banner.red:hover {
	background-color: #e92d2d;
}

.benefits {
	margin-top: 40px;
}

.description-benefit {
	font-size: 14px;
	line-height: 22px;
	color: #333;
}

.benefit-items {
	margin-top: 24px;
	display: grid;
	gap: 24px;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.item .description-benefit {
	margin-top: 6px;
	margin-bottom: 0;
}

.h-3 {
	margin: 0;
	color: #293245;
	font-size: 16px;
}

.navigation-bottom {
	background-color: white;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 20px 20px 0 0;
	padding: 8px 20px;
	box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.1);
	max-width: 374px;
	margin: 0 auto;
}

.lists-navigation {
	padding: 0;
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.list-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	font-size: 12px;
	color: #b1b1b1;
	text-decoration: none;
}

.list-navigation.active {
	color: #f3994b;
}

.list-navigation > svg path {
	transition: 150ms ease-in;
}

.list-navigation.active > svg path {
	fill: #f3994b;
}

.list-navigation:hover > svg path {
	fill: #f3994b;
}

.menu {
	width: 42px;
	height: 42px;
	background-color: #29bfc0;
	display: grid;
	place-items: center;
	border-radius: 50%;
	margin-top: -18px;
}

/* Register Page */
.register-page .app {
	background-color: #35a20b;
	color: #fff;
}

.content-register-page {
	padding-top: 20px;
	padding-bottom: 20px;
}

.title-register-page {
	margin: 0;
	font-weight: 500;
	text-align: center;
	font-size: 24px;
	line-height: 36px;
}

.price-premium {
	background-color: #fcc930;
	color: #cd8e04;
	padding: 2px 24px;
	border-radius: 20px;
	font-weight: 700;
	display: block;
	width: max-content;
	margin: 6px auto 0;
	font-size: 20px;
}

.wrapper-packet {
	margin-top: 60px;
	text-align: center;
}

.choose-packet {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.packet-name {
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 16px;
}

.wrapper-icon-text {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	color: #ddd;
}

.wrapper-icon {
	background-color: #ef3132;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	position: relative;
}

.wrapper-icon:not(.packet-premium .wrapper-icon)::after {
	content: '';
	position: absolute;
	height: 4px;
	width: 80%;
	background-color: #fff;
}

.silver {
	background-color: #e4f6d8;
}

.gold {
	background-color: #fbed9f;
}

.platinum {
	background-color: #c5f6f4;
}

.form {
	background-color: #fff;
	padding: 20px 32px;
	margin-top: 80px;
}

.title-form {
	margin: 0;
	color: #6cc710;
	text-align: center;
}

.free {
	text-transform: uppercase;
	color: #fff;
	background-color: #fb4e46;
	font-weight: 700;
	font-size: 14px;
	padding: 4px 12px;
	border-radius: 4px;
	display: block;
	width: max-content;
	margin: 8px auto 0;
}

.wrap-inputs {
	margin-top: 24px;
}

.wrap-inputs > *:not(:first-child) {
	margin-top: 20px;
}

.wrap-input {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label {
	color: #293245;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
}

.input {
	width: 100%;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	outline: none;
}

.input:focus {
	border-color: #29bfc0;
	box-shadow: 0 0 2px 4px rgba(41, 191, 192, 0.4);
}

.btn-form {
	font-size: 12px;
	margin-top: 48px;
	padding: 10px 16px;
	font-weight: 700;
	color: #fff;
	background-color: #6cc710;
	text-align: center;
	display: block;
	border: none;
	width: 100%;
	cursor: pointer;
	transition: 200ms ease-in-out;
}

.btn-form:hover {
	background-color: #35a20b;
}

.wrapper-form-cta {
	color: #293245;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	margin-top: 16px;
}

.link-form {
	color: #35a20b;
	font-weight: 500;
}

.link-form:hover {
	opacity: 0.7;
}

@media (max-width: 414px) {
	.title {
		font-size: 24px;
		line-height: 36px;
	}

	.description {
		padding: 0 20px;
		font-size: 14px;
	}

	.btn-register {
		font-size: 14px;
	}

	.subtitle {
		font-size: 20px;
		line-height: 28px;
	}
}
