/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    /* margin: auto; */
}

.slideshow-container2 {
    max-width: 1000px;
    position: relative;
    /* margin: auto; */
}

/* Next1 & prev1ious buttons */
.prev1, .next1 {
    cursor: pointer;
    position: fixed;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: #8bbfe6;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: calc(50% - 25px);
}

.prev2, .next2 {
    cursor: pointer;
    position: fixed;
    top: 64%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next1 button" to the right */
.next1 {
    right: 12px;
    border-radius: 3px 0 0 3px;
}

.next2 {
    right: 12px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #a3c2ea;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #a3c2ea;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active1, .dot:hover {
    background-color: #4884d4;
}

.active2, .dot2:hover {
    background-color: #4884d4;
}

/* Fading animation */
.fade1 {
    animation-name: fade1;
    animation-duration: 1.5s;
}

.fadeModal {
    animation-name: fade1;
    animation-duration: 1s;
}

.fade2 {
    animation-name: fade2;
    animation-duration: 1.5s;
}

@keyframes fade1 {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade2 {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev1, .next1,.text {font-size: 11px}
}

@media only screen and (max-width: 300px) {
    .prev2, .next2,.text {font-size: 11px}
}

/* TABS */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #126efd;
    background-color: #fff;
    /* border-color: #dee2e6 #dee2e6 #fff; */
    margin-top: 10%;
}

.nav-tabs{
    border: 1px solid #dee2e6;
    background: #f7f7f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-link{
    display: block;
    padding: .5rem 1rem;
    color: #555758;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    margin-top: 10%;
}

.nav-first{
    margin-left: 40%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="nav-first"] {
        margin-left: 25%;
    }
}
/* END TABS */

.card_kompetisi{
    margin-top: 3%;
}

.img_card_kompetisi{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    /* height: 200px; */
    width: 600px;
    background-image: linear-gradient(#85bdec, #f3e2d8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_webinar{
    margin-top: 3%;
}

.img_card_webinar{
    display: block;
    padding-left: 5%;
    padding-right: 5%; 
    /* height: 300px; */
    width: 600px;
    background-image: linear-gradient(#85bdec, #f3e2d8);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="space-top"] {
        padding-top: 60px;
        margin-top: 1rem;
    }
}

.center-profile{
    text-align: center;
}