/* font input*/
@font-face{
  font-family: "Retro Gaming";
  src: url('font/Retro-Gaming.ttf') format('truetype');
}
@font-face{
  font-family: "Alagard";
  src: url('font/alagard.ttf') format('truetype');
}
@font-face{
  font-family: "Quicksand";
  src: url('font/Quicksand.ttf') format('truetype');
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Quicksand';
  color: #000000;
}

a, a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Retro Gaming", "Alagard";
}

h4, h5, h6 {
  font-family: "Retro Gaming", "Alagard";
}
.kompet p, .event p {
  margin-bottom: 2px;
}
/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
.btn-get-started {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}
.btn-get-started:hover {
  background: #4884D4;
}
.btn-learn-more {
  font-family: 'Alagard', 'Retro Gaming', 'Quicksand';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  color: #63a3ce;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #63a3ce;
}
.btn-learn-more:hover {
  background: #63a3ce;
  color: #fff;
  text-decoration: none;
}
/*  Back to top button */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #6fb2e1;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #BFD8EE;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Carousel Button
--------------------------------------------------------------*/
.carousel-control-prev, .carousel-control-next{
  background-color: #8bbfe6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: calc(50% - 25px);
}

.carousel-control-next{
  right: 5%;
}

.carousel-control-prev{
  left: 5%;
}

.carousel-indicators [data-bs-target]{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #4884D4;
}

.carousel-indicators {
  position: static;
  margin-top: 10px;
}

@media screen and (max-width: 767px){
  .carousel-control-next{
    display: none;
  } 
  .carousel-control-prev{
    display: none;
  }
}

/* test */
.carousel-control-prev1,
.carousel-control-next1 {
  position: absolute;
  background-color: #4884D4;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 315px;
}

.carousel-control-prev2,
.carousel-control-next2 {
  position: absolute;
  background-color: #4884D4;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 315px;
}

.carousel-control-next1 {
  right: 5px;
}

.carousel-control-prev1 {
  left: 5px;
}

.carousel-control-next2 {
  right: 5px;
}

.carousel-control-prev2 {
  left: 5px;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #4884D4;
}

.carousel-indicators {
  position: static;
  margin-top: 10px;
}

@media screen and (max-width: 100px) {
  .carousel-control-next1 {
    display: none;
  }

  .carousel-control-prev1 {
    display: none;
  }
}

@media screen and (max-width: 100px) {
  .carousel-control-next2 {
    display: none;
  }

  .carousel-control-prev2 {
    display: none;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #BFD8EE;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #BFD8EE;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 8px 0;
  background: linear-gradient(180deg, rgba(55, 81, 126), transparent);
}
#header.header-scrolled, #header.header-inner-pages {
  background:rgba(55, 81, 126, 0.902);
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fff;
}
#header .logo img {
  max-height: 40px;
}
.header-scrolled .navbar .getstarted{
  background: rgba(32, 39, 73, 0.5);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0 !important;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #47b2e4;
  font-weight: bold;
  text-shadow: 0 0 20px #445d89;
}
.navbar .getstarted, .navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #47b2e4;
  background-color: rgba(71, 178, 228, 0.5);
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle{
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  visibility: hidden;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.fa-xmark {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    visibility: visible;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #47b2e4;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
  border: 2px solid #47b2e4;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #47b2e4;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background-image: url("img/Homepage.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .container {
  padding-top: 72px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #4884D4;
  text-shadow: 1px 1px #161425;
}
#hero h2 {
  color: rgba(191, 216, 238, 0.6);
  text-shadow: 1px 1px #202749;
  margin-bottom: 50px;
  font-size: 24px;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
#hero .hero-img {
  text-align: center;
}
@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fcfcfc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #262d53;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Kompetisi
--------------------------------------------------------------*/
.mobile-kompet {
  display: none !important;
}
@media screen and (max-width: 768px){
  .mobile-kompet{
    display: flex !important;
  }
  .pc {
    display: none !important;
  }
}
/*--------------------------------------------------------------
# Main sponsor
--------------------------------------------------------------*/

.clients .section-title{
  padding-bottom: 10px;
}
.clients {
  padding: 12px 0;
  text-align: center;
}
.clients img {
  width: 175px;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}
.clients img:hover {
  filter: none;
  transform: scale(1.1);
}
@media (max-width: 767.98px) {
  .clients img {
    max-width: 105px;
    filter: none;
  }
}
@media (max-width: 575.98px) {
  .clients img {
    max-width: 120px;
  }
}

/*--------------------------------------------------------------
# Sponsor Sub
--------------------------------------------------------------*/

.spons {
  padding-top: 10px;
  padding-bottom: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media(min-width: 579px){
  .spons .col{
  justify-content: center !important;
  align-items: center !important;
  }
}
.spons img {
  width: 150px;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 5px 0;
}
.spons img:hover {
  filter: none;
  transform: scale(1.1);
}
@media (max-width: 767.98px) {
  .spons img {
    max-width:80px;
  }
}
@media (max-width: 575.98px) {
  .spons img {
    max-width:95px;
  }
}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.aboutus h2{
  color: white;
}
.aboutus {
  background: linear-gradient(rgba(22, 20, 37, 0.9), rgba(32, 39, 73, 0.9)), url("img/Latar About Us.png") fixed center center;
  /* background: linear-gradient(rgba(22, 20, 37, 0.9), rgba(32, 39, 73, 0.9)), url("img/Header.png") fixed center center; */
  background-repeat: no-repeat;
  background-size: auto;
  padding: 120px 0;
}
.aboutus h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.aboutus p {
  color: #fff;
}
@media (max-width: 1024px) {
  .aboutus {
    background-attachment: scroll;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}
.contact .info .email p {
  padding-top: 5px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 20px;
}
.contact .php-email-form label {
  padding-bottom: 8px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #209dd8;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #37517e;
}
#footer .footer-top {
  padding: 30px 0 15px 0;
  background: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #262d53;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #262d53;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}
#footer .footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
#footer .copyright {
  float: left;
}
#footer .credits {
  float: right;
  font-size: 13px;
}
#footer .credits a {
  transition: 0.3s;
}
@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .copyright, #footer .credits {
    text-align: center;
    float: none;
  }
  #footer .credits {
    padding-top: 4px;
  }
}

.name{
  /* position: relative; */
  bottom: 60px;
  /* background: rgb(78 101 141 / 50%); */
  background: rgb(32 39 73);
  color: #ffffff;
  width: 100%;
  height: 80px;
  padding: 10%;
  align-items: center;
}

/* ISI CARD */
.activityname{
  display: flex; 
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  color: #ffffff;
  background: rgb(32 39 73);
  width: 100%;
  height: 65px;
  padding: 18px;
  font-family: "Retro Gaming";
}

.konten {
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  height: 100px;
  font-family: 'Quicksand';
  font-weight: bold;
}

/* .kontencustome2 .kontencustome1{

} */

.profilecard{
  height: 578px;
}

.mt-3{
  padding-top: 60px;
}

.nameProfile{
  margin-top: 300px;
  position: absolute;
  background: rgb(78 101 141 / 63%);
  color: #f1f1f1;
  height: 65px;
  width: 100%;
  padding: 17px;
  font-family: "Retro Gaming", "Alagard";
  font-size: 20px;
}

.Headername{
  position: absolute;
  /* top: 30px; */
  background: rgb(78 101 141 / 50%);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile{
  /* width:100%; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
  
}

/* DUPLIKAT */
/* .col-md-4{
  width: 380px;
  asdposition: center;
  align-items: center;
  asdpadding: 0px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 30px;
} */

.card-custome{
  border-radius: 10px;
  position: relative;
  vertical-align: middle;
  /* margin-top: -70px;
  padding: 1rem 1rem; */
}

.card-body-custome{
  /* position: absolute; */
  padding: 0px 1rem 20px 1rem;
}

.card-body-custome2 {
  /* position: absolute; */
  padding: 0px 1rem 20px 1rem;
}

b{
  font-weight: normal;
  font-weight: bold !important;
  font-weight: 900;
}

.card-body-custome2 a{
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #4884d4;
  white-space: nowrap;
  transition: 0.3s;
}

.card-body-custome .a {
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
}

.btn_slide,
.btn_slide:focus {
  /* padding: 8px 20px; */
  /* margin-left: 30px; */
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #47b2e4;
  background-color: rgba(71, 178, 228, 0.5);
}

.btn_slide:hover,
.getstarted:focus:hover {
  color: rgb(255, 255, 255) !important;
  background: rgb(49, 169, 225);
}

.btn_submit,
.btn_submit:focus {
  padding: 8px 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  border: 2px solid #47b2e4;
  background-color: rgba(71, 178, 228, 0.5);
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  transition: 0.3s;
}

.btn_submit:hover,
.getstarted:focus:hover {
  color: rgb(255, 255, 255) !important;
  background: rgb(49, 169, 225);
}

.btn_kembali,
.btn_kembali:focus {
  padding: 8px 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  border: 2px solid #d69a4e;
  background-color: #F3D040;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  transition: 0.3s;
}

.btn_kembali:hover,
.getstarted:focus:hover {
  color: rgb(255, 255, 255) !important;
  background: #d69a4e;
}

.blob{
  background: url("img/Blob/blob.svg") 0% 0% no-repeat, url("img/Blob/pattern.svg") 0% 5% no-repeat, url("img/Blob/blob2.svg") 100% 36% no-repeat, url("img/Blob/pattern2.svg") 100% 38% no-repeat, url("img/Blob/blob3.svg") 0% 83% no-repeat, url("img/Blob/pattern3.svg") 0% 85% no-repeat;
  background-size: 40% 30%;
}