@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

img {
  object-fit: cover;
  object-position: center;
}

.wrapper {
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper .wrapper-choose-game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.wrapper .wrapper-choose-game .choose-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .wrapper-choose-game .choose-game img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
}

.wrapper .wrapper-choose-game .choose-game p {
  text-align: center;
  margin-top: 5px;
  font-size: 0.8em;
}
