@tailwind base;
@layer base {
	html {
		@apply font-nunito;
	}

	body {
		@apply text-primary;
	}

	.hidden-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}
}
@tailwind components;
@layer components {
	.card-hero {
		@apply rounded-md bg-white p-4 shadow-md duration-300 ease-in hover:shadow-2xl;
	}

	#services .card-hero {
		@apply px-1 py-4;
	}

	.subtitle {
		@apply mb-6 text-xl font-bold md:text-2xl;
	}

	.center-container {
		@apply lg:mx-auto lg:max-w-[1024px];
	}

	.primary-content-padding {
		@apply px-4;
	}

	.header {
		@apply fixed left-0 right-0  z-20   border-header-bottom bg-white p-4;
	}
}
@tailwind utilities;
