body,
input,
button {
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
}

header {
	background-color: #13b2f1;
	padding-bottom: 40px;
	position: relative;
}

.logo {
	width: 132px;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	padding: 24px 20px;
	left: 0;
	right: 0;
	top: 0;
	background-color: #13b2f1;
}

.link-message {
	line-height: 0;
}

.waves {
	position: absolute;
	width: 100%;
	height: 20vh;
	bottom: 0;
}

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 5s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 6s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}

.sub-header {
	padding: 24px 20px 0;
	position: relative;
	z-index: 10;
}

.bottom {
	margin-top: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px 16px;
}

.wrapper-saldo {
	background-color: #fff;
	border-radius: 14px;
	width: 140px;
	padding: 16px 20px;
	font-weight: 700;
	color: #333;
}

.text-saldo {
	display: block;
	font-size: 14px;
	margin-bottom: 2px;
}

.sisa-saldo {
	font-size: 20px;
}

.semua-aksi {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 14px;
}

.wrapper-aksi {
	text-decoration: none;
	font-size: 12px;
	color: #fff;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.wrapper-icon-aksi {
	background-color: #fff;
	display: grid;
	place-items: center;
	width: 45px;
	height: 45px;
	border-radius: 14px;
}

.icon-aksi {
	width: 100%;
	height: 100%;
}

.small-icon-aksi {
	width: 30px;
	height: 30px;
}
