.swiper-pagination-bullet {
	width: 12px !important;
	height: 12px !important;
	background-color: #fff !important;
	border: 1px solid #555555;
	transition: 300ms ease-in-out;
}

.swiper-pagination-bullet-active {
	width: 60px !important;
	background-color: #c0c0c0 !important;
	border: none !important;
	border-radius: 6px !important;
}

.list-header.active ~ .indicator {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	top: -23%;
	border: 6px solid #2f6dda;
	transition: transform 0.5s ease-in-out;
	transform: translateX(396px);
	left: 0;
}
.list-header {
	text-align: center;
	display: flex;
}

.list-icon-header {
	transition: 0.5s ease-in-out;
}

.list-header.active .list-icon-header {
	transform: translate(2px, -16px);
}

#wrapper-videos {
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
}

#wrapper-videos .video-item {
	scroll-snap-align: start;
}

#wrapper-videos::-webkit-scrollbar {
	display: none;
}
