body {
	background-color: #03a879;
}

.overflow-hidden {
	padding-top: 20px;
}

.main-other-menu {
	background-color: #fff;
	margin-top: 18px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 10px 0 20px;
	position: relative;
}

.header-search {
	position: absolute;
	background-color: #fff;
	padding: 0 18px;
	left: 0;
	right: 0;
}

.header-search.fixed {
	position: fixed;
	top: 0;
}

.line {
	height: 6px;
	width: 40px;
	background-color: #ddd;
	border-radius: 20px;
	border: none;
	margin-bottom: 14px;
}

.form {
	position: relative;
	display: flex;
	align-items: center;
}

.input {
	padding: 10px 44px 10px 14px;
	border: 1px solid #ddd;
	width: 100%;
	border-radius: 4px;
}

.input::placeholder {
	font-size: 14px;
}

.btn-submit {
	position: absolute;
	right: 14px;
	background-color: transparent;
	border: none;
	outline: none;
}

.section-other-menu {
	padding: 0 18px;
	margin-top: 90px;
}

.wrapper-other-menu {
	margin-top: 20px;
}

.all-menu.hidden {
	display: none;
}

.wrapper-icon-menu {
	padding: 10px 6px;
	background-color: rgb(174, 254, 213);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	width: 100%;
}

.wrapper-other-menu .all-menu {
	grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
}
