* {
	box-sizing: border-box;
}

body,
input,
button {
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.mx-primary {
	margin-left: 20px;
	margin-right: 20px;
}

/* All menu */
.all-menu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
	gap: 32px 26px;
	margin-top: 20px;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	color: #454d50;
	line-height: 20px;
}

/* Article */
.wrapper-article {
	background-color: #f4f4f4;
	margin-top: 40px;
	padding: 20px;
}

.header-article {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.title-article {
	color: #333;
}

.wrapper-icon-arrow {
	padding: 8px;
	border-radius: 12px;
	background-color: #7feeff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper-image {
	aspect-ratio: 16/9;
	line-height: 0;
}

.wrapper-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}

.paragraph-article {
	color: #333;
	font-weight: 500;
	line-height: 24px;
	text-transform: capitalize;
}

.created-by {
	font-weight: 500;
	color: #7a7a7a;
	margin-top: 14px;
	font-size: 14px;
}

.header-other-menu {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}

.title-other-menu {
	color: #555;
	font-weight: 600;
	letter-spacing: 0.6px;
	margin: 0;
	text-transform: capitalize;
}

.paragraph-other-menu {
	color: #7a7a7a;
	font-size: 12px;
	letter-spacing: 0.4px;
	margin-top: 8px;
	line-height: 20px;
}

.dropdown-other-menu {
	cursor: pointer;
}

.dropdown-other-menu.rotate {
	transform: rotate(180deg);
}

.header-other-menu.not-border {
	border: none;
}

.header-other-menu--page1 {
	margin-top: 40px;
}

.image-icon {
	width: 36px;
	height: 36px;
}

/* Responsive */
@media (min-width: 478px) {
	.all-menu,
	.wrapper-other-menu .all-menu {
		grid-template-columns: repeat(4, 1fr);
	}
}
