@font-face {
  font-family: 'Poppins';
  src: url(../asset/font/Poppins/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url(../asset/font/Poppins/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url(../asset/font/Poppins/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url(../asset/font/Poppins/Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow: hidden;
  color: #fff;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
  padding: 0 20px;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 0;
  right: 0;
}

.date {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.day {
  font-weight: 500;
}

.current-date {
  color: #4b73ff;
}

.islamic-calendar {
  color: #ffff85;
}

.mosque-name {
  font-weight: 600;
  color: #ffbd44;
  font-size: 24px;
  letter-spacing: 0.3px;
}

.mosque-address {
  font-size: 14px;
}

.time-now {
  font-weight: 700;
  font-size: 28px;
  color: #de2424;
  letter-spacing: 0.3px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  display: grid;
  place-items: end center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide-text {
  font-size: 18px;
  margin-top: 56px;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.swiper .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 !important;
}

.swiper .swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
}

.schedule {
  justify-content: center;
  z-index: 11;
  bottom: 35px;
  overflow: auto;
  left: 0;
  right: 0;
  position: absolute;
  display: none;
}
.schedule.show {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 80px;
  background-color: #1a1111;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px 24px;
  width: 100%;
  height: 100%;
}

.card p {
  font-size: 14px;
}

.schedule-time {
  font-size: 18px;
  font-weight: 600;
}

.terbit {
  background-color: rgba(255, 61, 0, 0.8);
}
.subuh {
  background-color: rgba(26, 61, 245, 0.8);
}
.dzuhur {
  background-color: rgba(255, 184, 0, 0.8);
}
.ashar {
  background-color: rgba(163, 3, 163, 0.8);
}
.maghrib {
  background-color: rgba(255, 0, 0, 0.8);
}
.isya {
  background-color: rgba(58, 129, 73, 0.8);
}

.news {
  white-space: nowrap;
  font-size: 14px;
  background-color: #1a1111;
  padding: 4px 0;
  z-index: 10;
}
.menu {
  cursor: pointer;
}

@media (min-width: 438px) {
  .swiper-slide-text {
    font-size: 20px;
  }
}

@media (min-width: 630px) {
  header {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: center;
    text-align: center;
  }
  .date,
  .time-now {
    margin-top: 20px;
  }
  .menu {
    display: none;
  }
  .schedule {
    display: flex;
  }
}
@media (min-width: 640px) {
  .schedule {
    position: relative;
    bottom: inherit;
    overflow: inherit;
  }
}

@media (min-width: 768px) {
  .date,
  .time-now {
    width: max-content;
  }

  .time-now {
    justify-self: end;
  }

  .day {
    font-size: 20px;
  }

  .mosque-name {
    font-size: 28px;
  }

  .swiper .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    right: 28px;
  }
}
@media (min-width: 1280px) {
  .swiper-slide-text {
    padding: 0 40px;
  }
}
