/* Responsive breakpoints */

@media (min-width: 576px) {
	.wrapper-login {
		max-width: 576px;
		margin: 40px auto 0;
	}

	.title-page {
		font-size: 40px;
	}

	.profile-section {
		display: flex;
		gap: 28px;
	}

	.profile-data {
		margin-top: 10px;
	}

	.image-big-size {
		height: 296px;
	}

	.wrapper-device-image {
		width: 440px;
	}

	.popup--action-px-0 {
		padding: 20px 0;
	}

	.sub-popup-action-w-34 {
		width: 75%;
	}

	.form-action--request-data .column-create {
		display: flex;
		align-items: center;
	}

	.form-action--request-data .column-create--inherit {
		display: block;
	}

	.form-action--request-data .body-input-form-action {
		padding: 24px 20px 0;
	}

	.popup-user .device-detail {
		grid-template-columns: repeat(2, 1fr);
	}

	#dashboard-user .column-create {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

@media (min-width: 640px) {
	.email {
		display: inline;
	}

	.email--list-menu {
		display: none;
	}

	.full-profile-data {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 48px;
	}

	.full-profile-data--profile-employee-page {
		grid-template-columns: 1fr;
	}

	.rating {
		padding: 28px 80px;
		width: max-content;
	}
}

@media (min-width: 768px) {
	.h-screen {
		height: 100vh;
	}

	.wrapper-login-page {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
	}

	.wrapper-welcome {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: linear-gradient(159.27deg, #2285d0 5.11%, #144f7b 67.04%);
		color: #fff;
		padding: 0 20px 0 40px;
	}

	.text-hi-there {
		font-size: 28px;
	}

	.text-welcome-back {
		font-size: 64px;
		font-weight: 700;
	}

	.wrapper-login {
		justify-content: center;
	}

	.title-system {
		font-size: 20px;
	}

	.full-profile-data--profile-employee-page:not(.full-profile-data--attendance-details) {
		grid-template-columns: repeat(2, 1fr);
	}

	.dt-buttons {
		margin-bottom: 0;
		float: left;
	}

	.wrapper-column-create {
		grid-template-columns: repeat(3, 1fr);
	}

	.wrapper-textarea .input {
		width: 50%;
	}
}

@media (min-width: 991px) {
	.form-login {
		width: 420px;
	}

	.full-profile-data {
		grid-template-columns: repeat(3, 1fr);
	}

	.wrapper-device-details {
		grid-template-columns: 1fr 1.4fr;
	}

	#dashboard-user label {
		width: 20%;
	}

	#dashboard-user .input {
		width: 30%;
	}

	#dashboard-user .wrapper-column-create {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 1024px) {
	.form-action--request-data .wrapper-column-create {
		grid-template-columns: repeat(2, 1fr);
	}

	.form-action--request-data label {
		width: 50%;
	}
}

@media (min-width: 1120px) {
	.container {
		max-width: var(--max-w-container);
		margin-left: auto;
		margin-right: auto;
	}
}
