* {
	box-sizing: border-box;
}

/* Preflight: Mengubah beberapa tingkah-laku nilai default nya */
body,
input,
textarea,
button,
select {
	font-family: 'Poppins', sans-serif;
}

textarea {
	resize: none;
}

body.overflow-x-hidden {
	overflow-x: hidden;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
body {
	margin: 0;
}

a {
	text-decoration: none;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #073f65;
	--second-color: #34364a;
	--third-color: #262626;
	--background-primary: #f4f4f4;
	--px-primary: 16px;
	--max-w-container: 1120px;
}

/* Base */
.moved-list-menu {
	transition: 300ms ease-in-out;
}

.container {
	padding-left: var(--px-primary);
	padding-right: var(--px-primary);
}

.pb-5 {
	padding-bottom: 20px;
}

.container--popup-profile {
	padding: 0;
	position: relative;
}

.hidden {
	display: none;
}

table.dataTable thead {
	background-color: var(--primary-color);
	color: #fff;
	font-weight: 600;
}

table.dataTable tbody tr.odd {
	background-color: #f4f4f4;
}

.rotate-90deg {
	transform: rotate(90deg);
}

.header {
	background-color: #fff;
	padding: 14px 0;
	box-shadow: 0 6px 4px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.navigation-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile-header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.email {
	font-size: 14px;
	color: var(--second-color);
	display: none;
}

.wrapper-photo-profile-header {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.photo {
	border-radius: 50%;
	object-fit: cover;
}

.photo-profile-header {
	width: 40px;
	height: 40px;
}

.menu {
	cursor: pointer;
}

.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.popup--action {
	z-index: 20;
	display: grid;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px 20px;
	opacity: 0;
	visibility: hidden;
	overflow: auto;
	transition: 300ms ease-in;
}

.popup--action.show {
	opacity: 1;
	visibility: visible;
}

.sub-popup-action {
	background-color: #fff;
	border-radius: 4px;
	transform: translateY(-200%);
	opacity: 0;
	transition: 700ms ease-in;
	position: absolute;
}

.sub-popup-action.show {
	opacity: 1;
	transform: translateY(0);
	position: static;
}

.sub-popup-action-w-34 {
	opacity: 1;
	transform: translateY(0);
}

.popup--profile {
	background-color: transparent;
	display: none;
}

.sub-popup-profile {
	background-color: #fff;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 1px solid #cfcfcf;
	padding: 8px 0;
	font-size: 14px;
	position: absolute;
	right: 30px;
	top: 64px;
}

.sub-popup-profile::after {
	content: '';
	border: 7px solid transparent;
	border-bottom-color: #fff;
	position: absolute;
	right: 20px;
	top: -12px;
}

.sub-popup-profile::before {
	content: '';
	border: 7px solid transparent;
	border-bottom-color: #cfcfcf;
	position: absolute;
	right: 20px;
	top: -14px;
}

.list-menu {
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	width: 90%;
	background-color: #083f65;
	color: #fff;
	padding: 20px 0;
	width: 256px;
	transition: left 300ms ease-in-out;
	z-index: 10;
}

.list-menu.open {
	left: 0;
}

.title-list-menu {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	display: block;
	padding-bottom: 20px;
	border-bottom: 1px solid #fff;
}

.email--list-menu {
	display: block;
	color: #fff;
	margin-top: 20px;
	padding: 0 var(--px-primary);
}

.wrapper-page-list-menu {
	margin-top: 20px;
}

.page-list-menu {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	padding: 8px var(--px-primary);
	transition: 200ms ease-in;
}

.page-list-menu--logout {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

.page-list-menu.active {
	background-color: #3dadff;
}

.page-list-menu:not(.page-list-menu.active):hover {
	background-color: rgba(144, 209, 255, 0.5);
}

.left {
	display: flex;
	align-items: center;
	gap: 6px;
}

.sub-dropdown {
	display: none;
}

.sub-dropdown.open {
	display: block;
}

.sub-dropdown .page-list-menu {
	padding-left: 32px;
}

.icon-dropdown {
	transition: 200ms ease-in-out;
}

.icon-dropdown.rotate {
	transform: rotate(90deg);
}

.main-content {
	padding-top: 100px;
}

.title-page {
	font-weight: 600;
	font-size: 32px;
	color: var(--third-color);
}

.description-data {
	color: var(--second-color);
	padding-bottom: 4px;
	border-bottom: 1px solid #7a7a7a;
	width: max-content;
}

.btn--create {
	background-color: #1cb060;
}

.btn--create:hover {
	background-color: #14d870;
}

.btn--create-lg {
	width: 256px;
	margin: 32px auto 20px;
	display: block;
}

.btn--delete {
	background-color: #df101c;
}

.btn--delete:hover {
	background-color: #ff1824;
}

.full-profile-data--profile-employee-page {
	margin-top: 16px;
	margin-bottom: 20px;
}

.full-profile-data--profile-employee-page .text-small-data {
	font-size: 18px;
	font-weight: 600;
	color: var(--second-color);
	margin-bottom: 6px;
	display: block;
}

.full-profile-data--profile-employee-page .description-data {
	padding-bottom: 0;
	border-bottom: none;
}

.full-profile-data--profile-employee-page .description-data {
	margin-left: 10px;
}

.wrapper-column-create {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 20px;
	margin-top: 20px;
}

.column-create .input {
	margin-top: 6px;
}

.column-create .input--disabled {
	background-color: #ddd;
	cursor: not-allowed;
}

.column-create .input--disabled:focus {
	box-shadow: none;
}

.description-data--column-create {
	color: #7a7a7a;
	font-weight: 500;
	font-size: 14px;
	border-bottom: none;
	display: inline-block;
	width: 100%;
}

.description-data--column-create .required {
	color: red;
	margin-left: 4px;
}

.btn--add-device {
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 6px;
	width: max-content;
	padding: 8px 20px;
	margin-left: auto;
	margin-bottom: 20px;
}

/* Pembuka styling halaman login */
.wrapper-welcome {
	display: none;
}

.wrapper-login {
	margin-top: 40px;
	padding: 0 var(--px-primary);
	display: flex;
	flex-direction: column;
	color: var(--second-color);
}

.logo {
	width: 140px;
	margin: 0 auto;
}

.title-system {
	font-weight: 600;
	margin-top: 16px;
	font-size: 18px;
	text-align: center;
}

.form-login {
	margin-top: 20px;
}

.body-form {
	background-color: #f6f8fa;
	border-radius: 6px;
	padding: 16px;
	border: 1px solid hsla(210, 18%, 87%, 1);
}

.wrapper-input:not(.wrapper-input:first-child) {
	margin-top: 20px;
}

.label-input {
	font-size: 14px;
	margin-bottom: 10px;
	display: block;
}

.input,
.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
	border: 1px solid #083f65;
	border-radius: 4px;
	background-color: var(--background-primary);
	padding: 6px 12px;
	width: 100%;
}

.input:focus {
	box-shadow: 0 0 1px 5px rgba(52, 54, 74, 0.2);
	outline: none;
}

.btn {
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	padding: 8px 12px;
	border: none;
	transition: background-color 150ms ease-in;
	cursor: pointer;
}

.btn--login {
	background-color: #083f65;
	width: 100%;
	margin-top: 20px;
}

.btn--login:hover {
	background-color: #0a5b94;
}

/* Pembuka styling check-in & check-out employee*/
.top-header-main-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.back-page {
	font-size: 14px;
	text-decoration: underline;
	color: var(--third-color);
}

.back-page:hover {
	opacity: 0.7;
}

.wrapper-input-attendance:not(.hidden) {
	display: grid;
	gap: 8px 20px;
}

.table {
	border-spacing: 0 20px;
}

.vertical-align-top {
	vertical-align: baseline;
}

/* Penutup styling check-in & check-out employee*/

.wrapper-table-attendance {
	margin-top: 40px;
	padding-top: 0;
	font-size: 14px;
}

#table-attendance {
	margin-top: 20px;
	color: var(--third-color);
}

.wrapper-table-attendance #table-attendance_filter,
.wrapper-table-attendance #reports_filter,
.wrapper-table-attendance #reports-pdf_filter {
	margin-bottom: 20px;
}

.wrapper-table-attendance #table-attendance_filter label,
.wrapper-table-attendance #reports_filter label,
.wrapper-table-attendance #reports-pdf_filter label {
	display: flex;
	align-items: center;
	gap: 10px;
}

.input--filter:focus {
	box-shadow: none;
}

.dataTables_wrapper .dataTables_filter input {
	padding: 6px;
}

.dataTables_wrapper .dataTables_length {
	text-align: left;
}

.dataTables_wrapper .dataTables_length select {
	width: auto;
	padding: 6px;
}

/* Penutup styling  presence employee*/

/* Pembuka Dashboard admin */
.sub-dropdown--sub .page-list-menu {
	padding-left: 48px;
}

.wrapper-card-dashboard-admin {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
	margin-top: 20px;
	padding-bottom: 56px;
	border-bottom: 1px solid #7a7a7a;
	margin-bottom: 40px;
}

.card-dashboard-admin {
	padding: 12px 16px;
	border-radius: 6px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
	width: 100%;
}

.card-dashboard-admin--green {
	background: linear-gradient(180deg, #26cb5e 0%, #22b554 100%);
}

.card-dashboard-admin--red {
	background: linear-gradient(180deg, #e72f2f 0%, #be1d1d 100%);
}

.card-dashboard-admin--yellow {
	background: linear-gradient(180deg, #eec01e 0%, #c7a01a 100%);
}

.total {
	font-weight: 600;
	font-size: 28px;
}

.wrapper-icon-card {
	background-color: var(--background-primary);
	border-radius: 50%;
	width: 72px;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper-photo-profile-header--not-pointer {
	cursor: default;
}

.wrapper-icon {
	display: flex;
	gap: 10px;
}

.icon-action {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	border: none;
	padding: 6px;
	cursor: pointer;
	transform: 100ms ease-in;
}

.icon-action:hover {
	opacity: 0.7;
}

.icon-action--show {
	background-color: #eabd1d;
}

.icon-action--edit,
.btn--edit {
	background-color: #006e98;
}

.btn--edit:hover {
	background-color: #0592ca;
}

.icon-action--delete {
	background-color: #d12b2b;
}

.btn--action-form {
	padding: 6px 12px;
}

.wrapper-device-details {
	margin-top: 40px;
	display: grid;
	gap: 24px;
	margin-bottom: 20px;
}

.wrapper-device-image {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 14px;
	overflow: hidden;
}

.image-big-size {
	height: 240px;
	transition: 300ms ease-in;
	opacity: 0;
}

.image-big-size.check {
	opacity: 1;
}

.image-big-size img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wrapper-device-image-thumbnail {
	display: grid;
	align-items: center;
	gap: 10px;
	overflow: auto;
}

.wrapper-device-image-thumbnail img {
	width: 140px;
	height: 100px;
	cursor: pointer;
	transition: 250ms;
	object-fit: cover;
}

.wrapper-device-image-thumbnail img:hover {
	opacity: 0.7;
}

.title-name-device {
	color: var(--third-color);
	font-weight: 600;
	font-size: 1.75rem;
}

.device-details {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.device-detail {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: var(--third-color);
}

.label-device {
	color: #7a7a7a;
}

.title-popup-action {
	background-color: #073f65;
	padding: 12px 20px;
	border-radius: 4px 4px 0 0;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
}

.body-input-form-action {
	padding: 20px 20px 10px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.wrapper-btn-action-form {
	display: flex;
	justify-content: center;
	gap: 14px;
	background-color: #073f65;
	padding: 10px 20px;
	border-radius: 0 0 4px 4px;
}
/* Penutup Dashboard admin */

/* Custom halaman serah terima  */
.column-create--mt-5 {
	margin-top: 20px;
}

.wrapper-input-radio {
	display: flex;
	align-items: center;
	gap: 24px;
}

.wrapper-input-radio label {
	margin-top: 4px;
}

/* Bagian tambah gambar / add image */
.wrapper-choose-image {
	margin-top: 16px;
	margin-bottom: 20px;
}

.wrapper-text-choose-image {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	transition: 200ms ease-in;
	padding: 4px 0;
}

.wrapper-text-choose-image:hover {
	background-color: #ddd;
}

.wrapper-text-choose-image.disabled-add-image {
	color: #ccc;
	cursor: not-allowed;
}

.wrapper-text-choose-image.disabled-add-image:hover {
	background-color: transparent;
}

.wrapper-text-choose-image.disabled-add-image svg path {
	fill: #ccc;
}

.wrapper-inputs-file {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.wrapper-input-file {
	display: flex;
	align-items: center;
}

.wrapper-input-file:first-child {
	margin-top: 20px;
}

.wrapper-input-file svg {
	cursor: pointer;
}

.wrapper-input-file svg:hover {
	opacity: 0.7;
}

input[type='file']::-webkit-file-upload-button {
	padding: 6px 16px;
	border-radius: 4px;
	border: 1px solid #083f65;
	background-color: var(--background-primary);
}
/* Akhir halaman serah terima */

/* Halaman Data Permintaan */
.sub-popup-action--static {
	position: static;
}

.request-status {
	text-decoration: underline;
	transition: 150ms ease-in;
	cursor: pointer;
}

.request-status:hover {
	opacity: 0.7;
}

.request-status--approve {
	color: #1cb060;
}

.btn--approve {
	background-color: #06da81;
}

.request-status--finish {
	color: #3570b7;
}

.title-popup-action--center {
	text-align: center;
}

.subtitle-page {
	font-weight: 500;
	color: var(--third-color);
	padding: 20px 20px 0;
	position: relative;
	font-size: 1rem;
}

.subtitle-page::before {
	content: '';
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: -4px;
	height: 1px;
	background-color: #083f65;
}

.form-action--request-data .body-input-form-action {
	padding: 20px 20px 0;
}

.form-action--request-data .wrapper-column-create {
	display: grid;
	gap: 16px 20px;
	grid-template-columns: 1fr;
	margin-top: 0;
}

.form-action--request-data label {
	font-weight: 400;
}

.form-action--request-data .wrapper-btn-action-form {
	margin-top: 24px;
}

.form-action--request-data .input {
	margin-top: 0;
}

.popup--action-p-0 .sub-popup-action {
	width: 100%;
}

.form-action--request-data .btn--action-form {
	padding: 6px 72px;
}

.btn--finish {
	background-color: #3570b7;
}

.btn--finish:hover {
	background-color: #317ad4;
}
/* Akhir Data Permintaan */

/* Halaman history  admin */
.icon-action--pdf {
	background-color: #ea322f;
}
/* Akhir Halaman history  admin */

/* Halaman reports admin */
.wrapper-btn-export-import {
	display: flex;
	gap: 14px;
}

.btn-export-import {
	padding: 6px 8px;
	margin-bottom: 14px;
	border: 1px solid #083f65;
	border-radius: 4px;
	background-color: #f4f4f4;
}

/* Akhir Halaman reports */

/* Dashboard User */

.wrapper-text-popup-profile {
	display: flex;
	flex-direction: column;
	color: var(--second-color);
	padding-bottom: 8px;
	border-bottom: 1px solid #cfcfcf;
}

.wrapper-text-popup-profile:first-child {
	padding-left: 12px;
	padding-right: 12px;
}

.name-popup-profile {
	font-weight: 600;
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.link-popup-profile {
	color: var(--second-color);
	display: block;
	padding: 2px 12px;
	transition: 150ms ease-in;
}

.link-popup-profile:hover {
	background-color: rgba(144, 209, 255, 0.5);
}

.link-popup-profile:first-child,
.link-popup-profile:last-child {
	margin-top: 6px;
}

#dashboard-user {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

#dashboard-user .subtitle-page {
	padding: 0;
	font-size: 1.25rem;
}

#dashboard-user .subtitle-page::before {
	left: 0;
	right: 0;
}

#dashboard-user .description-data--column-create {
	font-size: 1rem;
}

#dashboard-user .body-input-form-action {
	padding-left: 0;
	padding-right: 0;
}

#dashboard-user .column-create {
	display: flex;
	flex-direction: column;
}

#dashboard-user .btn--create {
	margin: 20px auto;
	padding: 6px 96px;
}

.popup-user .wrapper-title-popup-action {
	background-color: #073f65;
	border-radius: 4px 4px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
	padding: 20px;
}

.popup-user .title-popup-action {
	padding: 0;
}

.popup-user .wrapper-column-create {
	grid-template-columns: 1fr;
}

.popup-user .body-input-form-action {
	padding: 0 20px;
}

.popup-user .sub-popup-action {
	padding-bottom: 20px;
}

.popup-user .device-detail {
	grid-template-columns: 1fr;
	gap: 4px;
}

.wrapper-ratings {
	display: flex;
	justify-content: center;
	border-top: 1px solid #083f65;
	padding-top: 40px;
}

.rating {
	border: 1px solid #083f65;
	padding: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14px;
	width: 100%;
}

.label-rating {
	font-weight: 500;
	color: var(--third-color);
}

.btn--rating {
	padding-left: 48px;
	padding-right: 48px;
}

.rate {
	display: flex;
	gap: 8px;
}

.star {
	cursor: pointer;
}

.give-rating {
	color: red;
	font-size: 0.875rem;
	display: none;
}

.give-rating.error {
	display: block;
}

/*  Akhir Dashboard User */

/* Profile User */

.profile-section {
	margin-top: 20px;
}

.photo-profile-section {
	width: 160px;
	height: 160px;
}

.photo-and-status {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}

.wrapper-status {
	display: flex;
	align-items: center;
	gap: 4px;
}

.profile-data {
	margin-top: 24px;
}

.name-profile-data {
	font-size: 28px;
	color: var(--second-color);
	font-weight: 600;
}

.full-profile-data {
	display: grid;
	row-gap: 12px;
}

.text-small-data {
	font-size: 14px;
	font-weight: 500;
	color: #7a7a7a;
}

.action {
	border: 1px solid #000;
	height: max-content;
	font-weight: 500;
	margin-top: 14px;
}

.text-action {
	text-align: center;
	color: #fff;
	background-color: var(--primary-color);
}

.wrapper-request-action {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #006e98;
	line-height: 0;
	font-size: 14px;
	transition: 150ms ease-in;
	width: max-content;
	margin: 0 auto;
}

.text-action,
.wrapper-request-action {
	padding: 8px 32px;
}

.wrapper-request-action:hover {
	opacity: 0.8;
}

.email-data {
	font-size: 14px;
	color: var(--second-color);
}
/* Akhir Profile User */
