<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />

      <style>
         body {
            background: #eaeaea;
            user-select: none;
         }

         .head {
            padding: 0px 11px 5px 5px;
            border-radius: 0px 0px 60px 0px;
            background-color: #ff0000;
            width: 100%;
            height: auto;
            margin: -10px 0px 0px -8px;
            display: block;
            position: relative;
            overflow: hidden;
         }

         .saldo {
            font-family: 'Lato', sans-serif;
            color: #eaeaea;
            margin-left: 1%;
            margin-bottom: 5px;
            margin-top: 20px;
            float: left;
            font-size: 18px;
            font-weight: bold;
         }

         .usernamebox {
            margin-right: 2%;
            margin-bottom: 5px;
            margin-top: 19px;
            color: #eaeaea;
            float: right;
            border: 0px solid #000000;
            width: 40%;
            white-space: nowrap;
            overflow: hidden;
            text-align: right;
            text-overflow: ellipsis;
         }

         .username {
            font-family: 'Lato', sans-serif;
            color: #eaeaea;
            margin-right: 4%;
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 19px;
            font-weight: bold;
         }

         .icondepo {
            position: relative;
            display: inline-block;
            border-radius: 0px;
            padding: 0px;
            color: black;
            width: 20%;
            font-size: 10px;
            margin-bottom: 15px;
         }

         .icondepo a {
            cursor: none;
         }

         .teksdepo {
            display: inline-block;
            font-family: 'Ubuntu', sans-serif;
            font-size: 100%;
            color: white;
            text-decoration: none !important;
            cursor: none;
         }

         .imgsdepo {
            margin-top: 5px;
            border-radius: 0px;
            margin-bottom: -2px;
            margin-top: -10px;
            width: 35px;
            cursor: none;
         }

         .imgsdepo a {
            cursor: none;
         }

         .wave {
            opacity: 0.4;
            position: absolute;
            bottom: 0px;
            left: 0;            
            right: 0;
            height: 60px;
            background-image: url(https://i.postimg.cc/Nf5JvC9z/wave.png);
            background-size: cover;
            animation: waveAnimate 15s linear infinite alternate;
         }

         @keyframes waveAnimate {
            0% {
               background-position: 0;
            }
            100% {
               background-position: 1360px;
            }
         }

         .wave::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 60px;
            bottom: 20px;
            opacity: 0.4;
            left: 0;
            background-image: url(https://i.postimg.cc/Nf5JvC9z/wave.png);
            background-size: cover;
            animation: waveAnimate2 10s linear infinite alternate;
         }

         @keyframes waveAnimate2 {
            0% {
               background-position: 1360px;
            }
            100% {
               background-position: 0;
            }
         }
      </style>
   </head>
   <body>
      <div class="head">
         <div class="wave"></div>
         <p class="saldo">Saldo</p><p class="saldo"id="saldo_user">{{saldo_user}}</p>
         <p class="usernamebox">
         <font class="username"id="saldo_user">{{nama_user}}</font></p>
         
         <br><br><br>
         
         <center>
         
         <div class="icondepo"><center><br>
         <a href="https://indo.webtoko.net/akun/?page=topup">
         <img class="imgsdepo" src="https://i.ibb.co/Bf9WLWH/20211123-161332.png"> 
         <alt=""></a><br/>
         <font class="teksdepo">
         DEPOSIT</a></center></font>
         </div>
         
         <div class="icondepo"><center><br>
         <a href="https://indo.webtoko.net/akun/?page=withdraw">
         <img class="imgsdepo" src="https://i.ibb.co/1z0pkGh/20211123-162246.png"> 
         <alt=""></a><br/>
         <font class="teksdepo">
         WIDHTDRAW</a></center></font>
         </div>
         
         
         <div class="icondepo"><center><br>
         <a href="https://indo.webtoko.net/akun/?page=notifikasi">
         <img class="imgsdepo" src="https://i.ibb.co/W24JT8J/20211123-155942.png"> 
         <alt=""></a><br/>
         <font class="teksdepo">
         PROFIT</a></center></font>
         </div>
         
         <div class="icondepo"><center><br>
         <a href="https://indo.webtoko.net/akun/?page=chat">
         <img class="imgsdepo" src="https://i.ibb.co/k0ThFXr/20211123-162452.png"> 
         <alt=""></a><br/>
         <font class="teksdepo">
         LIVE CHAT</a></center></font>
         </center>
         </div>
         
         
         <br>
         
         </div>
         </div>
         
         <script type="text/javascript">
               function rubah(angka){
                 var reverse = angka.toString().split('').reverse().join(''),
                 ribuan = reverse.match(/\d{1,3}/g);
                 ribuan = ribuan.join('.').split('').reverse().join('');
                 return "Rp. "+ribuan;
               }
               document.getElementById("saldo_user").innerText=rubah(document.getElementById("saldo_user").textContent);
             </script>
   </body>
</html>
