/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

body,
input {
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
	color: #262626;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	background-color: #fff;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.form-nomor-telepon {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	position: relative;
	padding-bottom: 14px;
	overflow: hidden;
}

.form-input {
	margin: 24px 10px 0;
	z-index: 2;
}

.text-nomor-telepon {
	font-size: 12px;
	color: #130e0e;
	display: block;
	margin-bottom: 4px;
}

.input-nomor-telepon {
	padding: 8px 32px 8px 12px;
	border-radius: 6px;
	background-color: #fff;
	border: none;
	width: 100%;
	box-shadow: 0 0 4px #ddd;
}

.input-nomor-telepon:focus {
	outline: none;
}

.wrapper-input-notelp {
	display: flex;
}

.popup-konfirmasi-pembelian {
	position: fixed;
	z-index: 10;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
	transition: 300ms ease-in;
	opacity: 0;
	transform: scale(0);
}

.popup-konfirmasi-pembelian.show {
	opacity: 1;
	transform: scale(1);
}

.card-konfirmasi-pembelian {
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	bottom: -100%;
	left: 0;
	right: 0;
	padding: 20px 14px;
	color: #212529;
	transition: 300ms ease-in-out 300ms;
	z-index: 30;
}

.card-konfirmasi-pembelian.show {
	bottom: 0;
}

.title-konfirmasi-pembelian {
	text-align: center;
	font-weight: 600;
	font-size: 20px;
}

.text-konfirmasi-pembelian {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
}

.text-konfirmasi-pembelian span {
	color: #575757;
}

.text-total-pembayaran,
.text-total-pembayaran span {
	font-size: 16px;
	font-weight: 500;
	color: #130e0e;
}

.wrapper-btn-konfirmasi-pembelian {
	margin-top: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.btn-konfirmasi-pembelian {
	font-size: 14px;
	text-decoration: none;
	background-color: #2196f3;
	color: #fff;
	padding: 8px 24px;
	border-radius: 6px;
	transition: 150ms ease-in;
}

.btn-konfirmasi-pembelian:hover {
	opacity: 0.7;
}

.btn-konfirmasi-pembelian--ubah {
	background-color: transparent;
	color: #130e0e;
	border: 1px dashed #130e0e;
}

.konfirmasi-nominal {
	margin-left: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.waves {
	position: absolute;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 100px;
}

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}

.popup-provider {
	position: fixed;
	z-index: 10;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
	transition: 300ms ease-in;
	opacity: 0;
	transform: scale(0);
}

.popup-provider.show {
	opacity: 1;
	transform: scale(1);
}

.wrapper-provider {
	background-color: #fff;
	position: absolute;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	left: 0;
	right: 0;
	bottom: 0;
	top: 200px;
	font-size: 14px;
	padding: 20px 10px 0;
	transition: bottom 300ms ease-in-out 300ms, top 300ms ease-in-out;
	z-index: 30;
}

.wrapper-provider.full {
	top: 0;
}

.wrapper-icon-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper-sub-provider {
	overflow: auto;
	height: 100%;
}

.wrapper-sub-provider::-webkit-scrollbar {
	display: none;
}

.wrapper-sub-provider > * {
	margin-top: 20px;
}

.action:last-child {
	margin-bottom: 40px;
}

.title-action {
	background-color: #eee;
	display: block;
	padding: 4px 8px;
	border-radius: 6px;
	font-weight: 500;
}

.wrapper-card-action > * {
	margin-top: 10px;
}

.wrapper-sub-action {
	padding: 8px;
	display: flex;
	justify-content: space-between;
	border-radius: 6px;
	text-decoration: none;
	font-size: 12px;
	color: #262626;
	font-weight: 500;
}

.wrapper-sub-action:hover {
	background-color: #dedede;
}

.position-left {
	display: flex;
	gap: 8px;
}

.logo-provider {
	width: 40px;
	height: 32px;
}

.wrapper-action-provider {
	display: flex;
	flex-direction: column;
}

.title-action-provider,
.price-action {
	font-weight: 600;
	font-size: 14px;
}

.promo,
.not-available {
	color: red;
}

.active-period {
	color: #555;
}

.list-active-period {
	padding: 0;
	list-style: none;
	margin: 0;
}

.list-active-period li {
	margin-top: 4px;
}

.position-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

.available {
	color: rgb(238, 166, 10);
}

.description-data-plan {
	margin-top: 4px;
	margin-bottom: 0;
	color: #555;
	line-height: 20px;
}

.wrapper-provider-error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: 16px;
}
