/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

body,
input {
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
	color: #262626;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10;
	background-color: #fff;
}

.form-nomor-telepon {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	position: relative;
	padding-bottom: 14px;
	overflow: hidden;
}

.form-input {
	margin: 24px 10px 0;
	z-index: 2;
}

.text-nomor-telepon {
	font-size: 12px;
	color: #130e0e;
	display: block;
	margin-bottom: 4px;
}

.input-nomor-telepon {
	padding: 8px 64px 8px 12px;
	border-radius: 6px;
	background-color: #fff;
	border: none;
	width: 100%;
	box-shadow: 0 0 4px #ddd;
}

.input-nomor-telepon:focus {
	outline: none;
}

.wrapper-input-notelp {
	display: flex;
	align-items: center;
	position: relative;
}

.popup-konfirmasi-pembelian {
	position: fixed;
	z-index: 10;
	left: 0;
    right:0;
    top:0;
    bottom:0;
	background-color: rgba(0, 0, 0, 0.4);
	transition: 300ms ease-in;
	opacity: 0;
	transform: scale(0);
}

.popup-konfirmasi-pembelian.show {
	opacity: 1;
	transform: scale(1);
}

.card-konfirmasi-pembelian {
	background-color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	bottom: -100%;
	left: 0;
	right: 0;
	padding: 20px 14px;
	color: #212529;
	transition: 300ms ease-in-out 300ms;
	z-index: 30;
}

.card-konfirmasi-pembelian.show {
	bottom: 0;
}

.title-konfirmasi-pembelian {
	text-align: center;
	font-weight: 600;
	font-size: 20px;
}

.text-konfirmasi-pembelian {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
}

.text-konfirmasi-pembelian span {
	color: #575757;
}

.text-total-pembayaran,
.text-total-pembayaran span {
	font-size: 16px;
	font-weight: 500;
	color: #130e0e;
}

.wrapper-btn-konfirmasi-pembelian {
	margin-top: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.btn-konfirmasi-pembelian {
	font-size: 14px;
	text-decoration: none;
	background-color: #2196f3;
	color: #fff;
	padding: 8px 24px;
	border-radius: 6px;
	transition: 150ms ease-in;
}

.btn-konfirmasi-pembelian:hover {
	opacity: 0.7;
}

.btn-konfirmasi-pembelian--ubah {
	background-color: transparent;
	color: #130e0e;
	border: 1px dashed #130e0e;
}

.konfirmasi-nominal {
	margin-left: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.waves {
	position: absolute;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 100px;
}

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}

.available {
	color: rgb(238, 166, 10);
	font-size: 12px;
}

.not-available {
	color: red;
	font-size: 12px;
}

.more {
	position: absolute;
	right: 8px;
	cursor: pointer;
}

#clear-input {
	position: absolute;
	right: 40px;
	cursor: pointer;
	display: none;
}

.main-product {
	padding-left: 10px;
	padding-right: 10px;
}

.card-choose-product {
	position: fixed;
	top: 120px;
	right: 10px;
	left: 10px;
}

.card-product {
	border-radius: 10px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	padding: 10px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	cursor: pointer;
	font-weight: 600;
	background-color: #fff;
}

.section-product {
	display: flex;
	align-items: center;
	gap: 10px;
}

.section-product p {
	margin: 0;
}

.section-right {
	gap: 0;
}

.img-product {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.popup-all-product {
	position: fixed;
	left: 0;
	right: 0;
	bottom: -100%;
	z-index: 20;
	height: 0;
	background-color: #fff;
	overflow: auto;
	transition: 500ms ease-in-out;
	box-sizing: border-box;
}

.popup-all-product.show {
	padding: 16px 10px;
	height: 100%;
	bottom: 0;
}

.search-product {
	border-radius: 6px;
	padding: 8px 12px;
	font-weight: 500;
	background-color: #f5f5f5;
	border: none;
	margin-top: 40px;
	width: 100%;
	box-sizing: border-box;
	color: #555;
	outline: none;
	border: 1px solid transparent;
}

.search-product:focus {
	border-color: #000;
}

.search-product::placeholder {
	color: rgb(167, 167, 167);
}

.name-product {
	font-size: 13px;
}

.description-product {
	font-weight: 400;
}

.line {
	height: 6px;
	width: 32px;
	border-radius: 10px;
	background-color: #f5f5f5;
	margin: 0 auto;
}

.card-product--popup {
	margin-top: 16px;
	padding: 12px 16px;
}

.card-product--popup:hover {
	background-color: rgb(214, 214, 214);
}

.popup-all-product .img-product {
	width: 40px;
	height: 40px;
}

.close-popup-product {
	position: absolute;
	right: 16px;
	top: 16px;
	cursor: pointer;
}

.wrapper-choose-product {
	margin-top: 196px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 20px;
}

.wrapper-choose-product .text-choose-product {
	font-size: 15px;
}

.wrapper-choose-product .name-product {
	font-size: 14px;
}

.wrapper-choose-product .section-right {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.wrapper-choose-product .card-product {
	padding: 12px 16px;
	text-decoration: none;
	color: #262626;
}

.wrapper-choose-product .card-product:hover {
	background-color: rgb(243, 243, 243);
}

.wrapper-info-product {
	background-color: rgb(255, 239, 99);
	font-size: 12px;
	padding: 12px 10px;
	border-radius: 6px;
}

.wrapper-info-product p {
	margin: 0;
}

.text-info {
	display: block;
	font-weight: 600;
	margin-bottom: 2px;
	text-transform: uppercase;
	font-size: 13px;
}
