@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 30px;
  font-family: "Poppins", sans-serif;
}
a {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 0 auto;
  text-decoration: none;
  position: relative;
  color: #525252;
  margin-bottom: 30px;
}

div {
  color: #333;
}

a h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 3px;
}

a p {
  margin-top: 3px;
  font-size: 12px;
  line-height: 1.5;
}

h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}
