* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 0 20px;
}

.header-games {
  padding: 15px 13px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.title-games {
  margin: 0;
  font-size: 21px;
  color: #141414;
}

.container--games {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 25px;
  padding: 0 20px;
}

.image--game {
  width: 55px;
  height: 58px;
  object-fit: cover;
  border-radius: 18px;
}

.card--game {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title--card--game,
.deskripsi--card--game {
  margin: 0;
  font-size: 12px;
}

.title--card--game {
  color: #6d6d6d;
  margin-top: 8px;
  letter-spacing: 0.3px;
}

.deskripsi--card--game {
  color: #141414;
  margin-top: 2px;
  font-weight: 500;
}

.link--open--game {
  margin-top: 15px;
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.3px;
  color: rgb(207, 130, 14);
  background-color: rgb(255, 236, 207);
  padding: 2px 10px;
  width: 110px;
  border-radius: 200px;
  text-align: center;
  font-weight: 300;
  font-weight: 500;
}

@media (max-width: 360px) {
  .title--card--game,
  .deskripsi--card--game {
    font-size: 12px;
  }
}

@media (max-width: 340px) {
  .card--game {
    padding: 5px 20px;
  }
}

@media (max-width: 340px) {
  .card--game {
    padding: 5px 10px;
  }
}

@media (max-width: 290px) {
  .card--game {
    padding: 5px 8px;
  }
}

@media (min-width: 768px) {
  .container--games {
    padding: 0 40px;
  }
}
