:root {
  --primary-color: #444444;
  --second-color: #1f365c;
  --third-color: #939393;
  --semibold: 600;
  --medium: 500;
  --primary-padding: 25px;
  --primary-transition: 100ms ease-in;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  margin: 0;
}

input,
button {
  font-family: "Poppins", sans-serif;
}

.margin-zero {
  margin: 0;
}

.none-underline {
  text-decoration: none;
}

.pointer-cursor {
  cursor: pointer;
}

.header-el {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px var(--primary-padding);
  background-color: #fff;
}

.wrap-logo {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.logo {
  width: 60px;
  height: 60px;
}

.title-company {
  font-weight: var(--semibold);
  font-size: 24px;
  letter-spacing: 0.7px;
}

.call-center {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.call-us {
  font-weight: var(--medium);
}

.phone-number {
  font-weight: var(--semibold);
  color: var(--second-color);
  font-size: 22px;
  letter-spacing: 0.4px;
}

.phone-icon {
  width: 50px;
  height: 50px;
  transform: rotate(15deg);
}

.nav-el {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px var(--primary-padding);
  background-color: var(--second-color);
}

.location {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #fff;
}

.text-map {
  font-size: 12px;
  font-weight: var(--medium);
  letter-spacing: 0.7px;
}

.social-media {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.icon {
  transition: var(--primary-transition);
}

.icon:hover {
  opacity: 0.8;
}

.icon > img {
  display: block;
}

.wrap-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px var(--primary-padding);
}

.links_navigation {
  display: flex;
  column-gap: 20px;
}

.link-navigation {
  color: var(--primary-color);
  font-weight: var(--semibold);
  transition: var(--primary-transition);
}

.link-navigation:hover {
  opacity: 0.6;
}

.search-products {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wrap-search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 35px 8px 12px;
  border: 1px solid var(--third-color);
  outline: none;
  border-radius: 8px;
  width: 450px;
}

.search-input::placeholder {
  color: var(--third-color);
  font-weight: 300;
}

.btn-search {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}

.search-icon {
  width: 22px;
  height: 22px;
}

.btn {
  font-weight: var(--semibold);
  color: var(--primary-color);
  transition: var(--primary-transition);
}

.btn:hover {
  opacity: 0.6;
}

.btn-register {
  padding: 6px 15px;
  border: 1px solid var(--primary-color);
  margin-left: 20px;
  border-radius: 8px;
}
