* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url('https://images.unsplash.com/photo-1516319915504-015b432d407c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=842&q=80');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.header {
	height: 70px;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	border-bottom: 1px solid green;
	background-color: black;
	padding: 19px 30px;
	display: flex;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.list-menu {
	display: flex;
	align-items: center;
}

.logo {
	color: white;
	font-size: 33px;
	font-weight: bold;
}

.link-menu {
	text-transform: uppercase;
	color: #fff;
	padding: 10px 12px;
	transition: 500ms;
	font-size: 18px;
}

.link-menu--dropdown {
	display: flex;
	align-items: center;
}

.link-menu:hover,
.link-menu:active {
	background-color: rgba(0, 0, 0, 0.8);
	color: cyan;
}

.dropdown {
	position: relative;
}

.sub-dropdown {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	min-width: 150px;
	font-size: 16px;
	top: 40px;
	z-index: 1;
	border-top: 1px solid white;
	display: none;
}

.sub-dropdown.show {
	display: flex;
	flex-direction: column;
}

.sub-dropdown .link-menu {
	border-bottom: 1px solid rgb(197, 197, 250);
	display: block;
	transition: 500ms;
}

.sub-dropdown .link-menu:hover {
	color: cyan;
	background-color: rgba(0, 0, 0, 0.8);
}

.hamburger-menu,
#check {
	display: none;
}

.main-content {
	padding-top: 120px;
	color: white;
}

@media (max-width: 890px) {
	.list-menu {
		display: none;
		position: fixed;
		top: 70px;
		left: 0;
		right: 0;
		bottom: 0;
		flex-direction: column;
		align-items: stretch;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.link-menu {
		text-align: center;
		display: block;
		width: 100%;
	}

	.hamburger-menu {
		position: absolute;
		right: 0;
		display: flex;
		flex-direction: column;
	}

	.hamburger-menu label {
		height: 70px;
		width: 80px;
		padding: 25px;
	}

	.hamburger-menu span {
		height: 10px;
		width: 20px;
		border-top: 3px solid white;
		display: block;
	}

	.hamburger-menu:hover,
	#check:checked ~ .hamburger-menu label {
		background-color: red;
		transition: 500ms ease;
	}

	#check:checked ~ .list-menu {
		display: flex;
	}

	.sub-dropdown {
		position: static;
		background-color: rgb(220, 220, 250);
	}

	.sub-dropdown .link-menu {
		color: darkcyan;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
		margin: 0 auto;
	}
}
