* {
	box-sizing: border-box;
}

.pembungkus-pengisian {
	background-color: #f4f4f4;
	padding: 20px;
	border-radius: 4px;
}

.label-harga-pengisian {
	font-size: 12px;
	display: block;
	color: #555;
	margin-bottom: 4px;
}

.pembungkus-input-harga-pengisian {
	position: relative;
	display: flex;
	align-items: center;
}

.pembungkus-input-harga-pengisian span {
	color: rgb(146, 146, 146);
	position: absolute;
	left: 10px;
}

#harga-pengisian {
	width: 100%;
	padding: 8px;
	padding-left: 32px;
	border-radius: 4px;
	border-width: 1px;
	font-size: 14px;
}

.pembungkus-harga-pengisian {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
	margin-top: 20px;
}

.pembungkus-harga-pengisian span {
	cursor: pointer;
	padding: 12px;
	font-size: 14px;
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
}
