* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.mx-6 {
	margin: 0 24px;
}

header {
	background-color: #00a5df;
	padding-bottom: 24px;
	height: 200px;
	position: relative;
}

.navigation-trx {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #00a5df;
	padding: 20px 24px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
}

.logo-header {
	color: #fff;
	font-size: 24px;
}

.btn-trx {
	display: flex;
	align-items: center;
	gap: 6px;
	color: #fff;
	font-size: 18px;
	background-color: #4cc6eb;
	padding: 6px 12px;
	border-radius: 20px;
}

.main-content-panel {
	margin-top: -120px;
	position: relative;
}

.panel {
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
	padding-top: 16px;
	background-color: #fff;
}

.header-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 16px;
	gap: 20px 8px;
}

.section-left {
	display: flex;
	align-items: center;
	gap: 14px;
}

.text-saldo {
	color: #565656;
	font-size: 14px;
}

.saldo {
	margin: 2px 0 0;
	font-size: 18px;
	color: #333333;
}

.btn-upgrade {
	border: 1px solid #40b4dc;
	border-radius: 4px;
	padding: 4px 16px;
	color: #40b4dc;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	transition: 300ms ease-in-out;
}

.btn-upgrade:hover {
	background-color: #40b4dc;
	color: #fff;
}

.wrapper-menu {
	margin-top: 24px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.menu {
	padding: 10px 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #40b4dc;
	border: 2px solid #f5f5f5;
	border-bottom: none;
	border-left: none;
}

.wrapper-icon {
	border: 1px solid #40b4dc;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 340px) {
	.wrapper-menu {
		grid-template-columns: repeat(2, 1fr);
	}
}
