* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

a {
	-webkit-tap-highlight-color: transparent;
}

.header-img {
	position: relative;
}

.swiper-wrapper {
	aspect-ratio: 16/9;
	border: 1px solid #eae8f7;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.header-img .swiper-pagination {
	bottom: -40px;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #ccc;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #897493;
}

/* All menu */
.content {
	margin: 56px 24px 0;
}
.all-menu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
	gap: 32px 24px;
	margin-top: 20px;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	color: #454d50;
	line-height: 20px;
	text-decoration: none;
	text-transform: capitalize;
}

.title-other-menu {
	color: #555;
	font-weight: 600;
	letter-spacing: 0.6px;
	margin: 0;
	text-transform: capitalize;
}

.paragraph-other-menu {
	color: #7a7a7a;
	font-size: 12px;
	letter-spacing: 0.4px;
	margin-top: 4px;
	line-height: 20px;
}

.column-text {
	border: 1px solid #000;
	padding: 20px;
	border-radius: 6px;
	margin: 56px 40px 20px;
}

.text {
	margin: 0;
	color: #333;
}

@media (min-width: 420px) {
	.all-menu {
		grid-template-columns: repeat(4, 1fr);
	}
}
